/build-GalaxyGame-Desktop_Qt_5_9_1_clang_64bit-Debug/*
*.pro.user
GalaxyGame/Student/customlistitem.cc
GalaxyGame/Student/customlistitem.hh
GalaxyGame/Student/mainwindow.cc.autosave
build-GalaxyGame-Desktop_Qt_5_9_2_clang_64bit-Debug/*
